.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 100px;
    background : linear-gradient(blue,rgb(14, 215, 14));
    color: #dbe6f4;
    border-radius: 10px;
    z-index: 5;
    .sectionOne,
    .sectionTwo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 25%;
    }
    .sectionTwo {
      width: 7%;
      margin-right: 20px;
    }
    .logo {
      font-family: cursive;
    }
    .navLinks {
      cursor: pointer;
      text-decoration: none;
      color: white;
      padding: 10px;
      padding-left: 2px;
      padding-right: 2px;
      margin-left: 10px;
    }

    .addProduct {
      cursor: pointer;
      text-decoration: solid;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
    }

    .navItem {
      font-size: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 10px;
      justify-content: space-between;
      .avatar {
        width: 40px;
        margin-left: 30px;
        margin-right: 8px;
      }
    }

    h2{
      color: white;
      background: linear-gradient(red,blue);
      padding-left: 20px;
      padding-right: 20px;
    }

    .navItem p{
      margin-right: 10px;
    }
  }